**/log/**
**/data/**
/.idea/contribox-node.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/regtest/conf/local/**
/regtest/conf/conf.json
/regtest/conf/elements_regtest_1.conf
/regtest/conf/elements_regtest_2.conf
/regtest/conf/elements_regtest_3.conf

